#countlabel {
    font-family:helvetica;
    font-size:10rem;
    display:block; /* cause label is not a block tag*/
    text-align:center;
}

#btncontainer {
    text-align:center;
}

.buttons {
    padding:10px 20px;
    background-color:hsl(214, 100%, 74%);
    border-radius:5px;
    cursor:pointer;
    text-align:center;
    transition: background-color 0.25s;
    font-size:1.5em;
}

.buttons:hover {
    background-color:hsl(214, 100%, 56%);
}